.btn-primary {
    color: #fff !important;
    background-color: #f90173 !important;
    border-color: #f90173 !important;
}

.btn-secondary {
    color: #fff !important;
    background-color: #4dc058 !important;
    border-color: #4dc058 !important;
}

.btn-info {
    color: #fff !important;
    background-color: #02afc8 !important;
    border-color: #02afc8 !important;
}

.btn-outline-primary {
    color: #95a5a6;
    border-color: #f90173 !important;
}

.btn-outline-primary:hover {
    color: #fff !important;
    background-color: #f90173 !important;
    border-color: #f90173 !important;
}

.btn-outline-secondary {
    color: #95a5a6;
    border-color: #4dc058 !important;
}

.btn-outline-secondary:hover {
    color: #fff !important;
    background-color: #4dc058 !important;
    border-color: #4dc058 !important;
}

// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
// @import 'variables';
@import "~bootswatch/dist/flatly/variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

//Bootswatch
@import "~bootswatch/dist/flatly/bootswatch";
